*{
    margin: 0;
    padding: 0;
    background-color: black;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    color: lightblue;
}

.name_logo{
    width: 270px;
    height: 70px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-size: 25px;
    padding-top: 10px;
}
.menu{
    width: 400px;
    height: 70px;
    float: left;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 65px;
    font-size: 15px;
    margin-top: 30px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: aqua;
}

.log_signup{
    width:300px;
    float: left;
    margin-left: 200px;
}
.btn{
    width: 40%;
    height: 40px;
    background-color: aquamarine;
    color: black;
    border: 2px solid white;
    margin-top: 20px;
    border-radius: 30px;
    margin-left: 25px;
    font-size: 15px;
    
}

.btn:hover{
    background-color: beige;
    font-weight: bold;
}

.page_description{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    width:1000px;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.doctor_info{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    width:1000px;
    border:2px solid #ffffff;
    padding:10px;
    border-radius: 20px;
    background-color: #35992E;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.doctor_entry{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    width:1000px;
    border:2px solid #ffffff;
    padding:10px;
    border-radius: 20px;
    background-color: #35992E;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.bot_title{
    color: lightblue;

    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.chat_bot{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    width:800px;
    height:500px;
    border:2px solid #ffffff;
    /*padding:10px;*/
    border-radius: 20px;
    background-color: #FFFFFF;

    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.type_box{

    display: flex;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    text-align: center;

    background-color: white;
}

.input_text {
    width: 80%;
    height: 25px;
    box-sizing: border-box;
    padding-left: 10px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    width:600px;
    border-radius: 50px;
    border:2px solid #000000;
    background-color: #ffffff;
}

.enter_button {
    width: 30px;
    height: 30px;
    background-color: lime;
    color:white;

    margin-left: 10px;
    border-radius: 30%;
    border-color:rgb(86, 11, 135);
    font-size: medium;
}

.replies {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;

    background-color: white;
    border-radius: 20px;

    overflow: hidden;
}

.reply, .answer {
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    display: block;
    text-align: left;
    
    clear: both;
    max-width: 50%;
    font-size:large;   
    
}

.reply {
    float: left;
    background-color: #dedede;
    color:black;
}
.answer {
   float: right;
   background-color: rgb(86, 11, 135);
}
